.rps-section {
    display: block;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding: 5rem;
    background-color: var(--primary-light);
}



.rps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.h1text {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-dark);
}


#result {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pic {
    height: 7rem;
    width: 6rem;
    margin: 2rem;
    padding: 1rem;
}

#pic3 {
    height: 7rem;
    width: 6rem;
}

#pic1 {

    rotate: 90deg;
    background: url("/images/rock.png") no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: contain;
    object-position: center;
    filter: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.411));
}


#pic2 {
    rotate: -90deg;
    background: url("/images/paper.png") no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: contain;
    object-position: center;
    filter: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.411));

}




.txth2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--text-dark);

}


.startandrestart {
    display: flex;
    justify-content: center;
    align-items: center;
}






.result-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-dark);

}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.txtscore {
    font-weight: 800;
    font-size: 1.3rem;
}


.blog-container {
    margin: auto;
    background-color: var(--primary-color);
    padding: 30px;

}

.posttext {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.posttext2 {
    margin: 0.5rem 0;
    text-align: left;
}

.highlight {
    background-color: #669bbc38;
    padding: 10px 15px;
    border-left: 4px solid #669BBC;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: left;
}

.h1text2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.txth3 {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    margin-bottom: 1.5rem;
}


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}














@media (max-width: 800px) {


    .rps-section {
        height: 100vh;
        padding: 1rem;
        padding-top: 5rem;
    }

    .pic {
        height: 5rem;
        width: 4rem;
        margin: 1rem;
        padding: 0.5rem;
    }

    #result {
        height: 20vh;
    }
}