:root {
    --primary-light: #ffffff;
    --primary-dark: #000000;
    --secondary-color: #FDF0D5;
    --light-color: #669BBC;
    --dark-color: #003049;
    --accent-light: #C1121F;
    --accent-dark: #780000;
    --text-dark: #000000;
    --text-light: #ffffff;
}


::selection {
    background-color: var(--light-color);
    color: var(--primary-light);
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--light-color);
    color: var(--primary-light);
    text-shadow: none;
}


@font-face {
    font-family: 'MyCustomFont';
    src: url(../fonts/CalibriSchool.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyCustomFont';
    font-size: 1.1rem;

}








/* button style */
.button {
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 1.01rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    font-family: sans-serif;
}

.button:active {
    transform: scale(0.9);
}

.button-black {
    background-color: var(--text-dark);
    color: var(--text-light);

    &:hover {
        transform: scale(1.1);
        background-color: var(--text-dark);
        color: var(--text-light);
        box-shadow: 0 0 10px var(--text-light), 0 0 20px var(--text-light);


    }
}

.button-black:active {
    background-color: var(--text-light);
    color: var(--text-dark);
    box-shadow: 0 0 10px var(--text-light), 0 0 20px var(--text-light);
    transform: scale(0.9);
    border-color: transparent;

}

.button-white {
    background-color: var(--text-light);
    color: var(--text-dark);

    &:hover {
        transform: scale(1.1);
        background-color: var(--text-light);
        color: var(--text-dark);
        box-shadow: 0 0 10px var(--text-dark), 0 0 20px var(--text-dark);


    }
}

.button-white:active {
    background-color: var(--text-dark);
    color: var(--text-light);
    box-shadow: 0 0 10px var(--text-dark), 0 0 20px var(--text-dark);
    transform: scale(0.9);

}

.button-red {
    background-color: var(--accent-dark);
    color: var(--text-light);

    &:hover {
        transform: scale(1.1);
        background-color: var(--accent-light);
        color: var(--text-light);
        box-shadow: 0 0 10px var(--accent-dark), 0 0 20px var(--accent-dark);
    }
}

.button-red:active {
    background-color: var(--accent-dark);
    color: var(--text-light);
    transform: scale(0.9);
    box-shadow: 0 0 10px var(--accent-dark), 0 0 20px var(--accent-dark);
}

.button-airBlue {
    background-color: var(--dark-color);
    color: var(--text-light);

    &:hover {
        transform: scale(1.1);
        background-color: var(--light-color);
        color: var(--text-light);
        box-shadow: 0 0 10px var(--dark-color), 0 0 20px var(--dark-color);

    }
}

.button-airBlue:active {
    background-color: var(--dark-color);
    color: var(--text-light);
    transform: scale(0.9);
    box-shadow: 0 0 10px var(--dark-color), 0 0 20px var(--dark-color);
}



.button {
    border: none;
    transition: all 0.3s;
}

.bottun:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(58, 134, 255, 0.3);
}

.button:active {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(58, 134, 255, 0.3);
}










/*all tags */
body {
    line-height: 1.6;
    color: var(--primary-light);
    background-color: var(--primary-dark);
}

a {
    text-decoration: none;
    color: var(--primary-light);
}















/* navbar */

header {
    background-color: var(--primary-dark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    margin: 1rem;
}

.logo img {
    max-width: 40%;
    object-fit: contain;
}

.nav-links {
    display: flex;
    list-style: none;
    color: var(--primary-light);
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--text-light);
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: var(--light-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}











/* Footer */
footer {
    background-color: var(--primary-dark);
    color: var(--text-light);
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social-links a img {
    max-width: 2.5rem;
    object-fit: contain;
    filter: invert(1);
    transition: transform 0.3s ease;
    transition: color 0.3s;
    cursor: pointer;
    margin: 0.5rem;
}

.social-links a img:hover {
    filter: invert(70%);
    transition: transform 0.3s ease;
    transform: scale(1.2);

}

.social-links a img:active {
    transition: transform 0.3s;
    color: var(--light-color);
    transform: scale(1.5);
}












.h2 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    margin-bottom: 1rem;
    background: linear-gradient(90deg, var(--light-color), var(--text-light));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-bottom: 1rem;
}







































@media (max-width: 800px) {

    .logo img {
        max-width: 60%;
        object-fit: cover;
    }


    .nav-links {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: var(--primary-light);
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        transition: left 0.3s;
    }

    .nav-links a {
        color: var(--text-dark);
        font-weight: 600;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;

    }

    .hamburger img {
        max-width: 2.5rem;
        object-fit: contain;
    }

    .hamburger img:hover {
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .hamburger img:active {
        transform: scale(1.4);
    }




}