



#headersection{
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/bg3.jpg') center/cover; 
}

.section-title h2{
  
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.section-title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: var(--light-color);
    border-radius: 2px;
}



.section-title {
    text-align: center;
    width: 75%;
}









#projects {
    padding: 5rem 5%;
    text-align: center;
    background-color: var(--primary-dark);
    
}    


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background-color: var(--primary-dark);
    border-radius: 20px;
    overflow: hidden;
    border: 0.1px solid rgba(255, 255, 255, 0.263);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.774);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgb(0, 0, 0);
}


.project-info {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-info h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--text-light);
    text-align: center;
}

.project-info p {
    margin-bottom: 1rem;
    color: #666;
    text-align: center;
}









@media (max-width: 900px) {


    
#headersection{
    height: 70vh;
}

    .section-title {
        width: fit-content;
    }
}